node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store

# Yarn
.yarn/cache
.yarn/*state*

# Local History
.history

.vscode

.firebase

public/assets/~$chael_Sexton.docx
public/assets/~$chael_Sexton_Resume.docx
