.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-brand,
.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu {
  flex-grow: 1;
  justify-content: space-around;
}

.navbar-start,
.navbar-end {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.navbar-item {
  display: inline-block;
}
